<div>
  <nav>
    <a routerLink="/register-page">
    Register
    </a>
  </nav>
</div>

<div>
  <label for="username">Username: </label>
  <input id="username" #username />

  <label for="password">Password: </label>
  <input id="password" #password />

  <div *ngIf="loginFailed == false">
      Username or Password are incorrect
  </div>
  
  <!--On click, if login attempt fails, change result to false-->
  <button type="button" class="login" (click)="loginFailed = loginAttempt(username.value, password.value); password.value=''">
    Login
  </button>
</div>